dist
proto/
github
github.com/
openconfig_models/
gnmi_pb2*
gnmi_ext_pb2*
src/__pycache__
logs/
.venv
.vscode/
.idea
bin
*.log
.DS_Store
__pychache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/migrations